<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <util:list list-class="java.util.LinkedList" id="friendList">
        <value>Sam</value>
        <value>John</value>
        <value>Donald</value>
        <value>Jim</value>
    </util:list>
    <util:map map-class="java.util.HashMap" id="courseList">
        <entry key="python" value="code with python"/>
        <entry key="Java" value="code with java"/>
        <entry key="C++" value="code with c++"/>
        <entry key="C" value="code with c"/>
    </util:map>
    <util:set set-class="java.util.HashSet" id="subjectList">
        <value>Java</value>
        <value>C#</value>
        <value>C</value>
    </util:set>
    <util:properties id="properties">
        <prop key="city">Pune</prop>
        <prop key="state">MH</prop>
        <prop key="country">India</prop>
    </util:properties>
    <bean class="bean.Student" name="student" id="student">
        <property name="studentId" value="12165465"/>
        <property name="friends" ref="friendList"/>
        <property name="courses" ref="courseList"/>
        <property name="subjects" ref="subjectList"/>
        <property name="studentProperties" ref="properties"/>
    </bean>
    <bean class="bean.Teacher" name="teacher" id="teacher">
        <property name="teacherId" value="45465"/>
        <property name="friends" ref="friendList"/>
        <property name="courses" ref="courseList"/>
        <property name="subjects" ref="subjectList"/>
        <property name="teacherProperties" ref="properties"/>
    </bean>

</beans>