<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:annotation-config/>
    <bean class="entities.Address" name="address" id="address">
        <property name="city" value="Pune"/>
        <property name="state" value="MH"/>
        <property name="country" value="India"/>
    </bean>
    <!--        Autowiring using 'byName'-->
    <bean class="entities.User" id="user1" name="user1" autowire="byName">
        <property name="userId" value="5345"/>
        <property name="name" value="Ramesh"/>
        <property name="message" value="using byName"/>
    </bean>

    <!--    Autowiring using 'byType'-->
    <bean class="entities.User" id="user2" name="user2" autowire="byType">
        <property name="userId" value="5345"/>
        <property name="name" value="Ramesh"/>
        <property name="message" value="using byType"/>
    </bean>

    <bean class="entities.User" id="user3" name="user3" autowire="constructor">
        <property name="userId" value="5345"/>
        <property name="name" value="Ramesh"/>
        <property name="message" value="using byConstructor"/>
    </bean>
</beans>