<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="entities.User" name="employee" id="employee">
        <property name="userId" value="123"/>
        <property name="userName" value="adasd"/>
        <property name="userEmail" value="abc@gmail.com"/>
    </bean>
    <bean class="entities.License" id="license" name="license" parent="employee">
        <property name="licenseNo" value="7894561232"/>
    </bean>
</beans>